.mypage{

    margin-top: 60px;
    margin-right: 30px;
    margin-left: auto;
    display: "flex";
    align-items: "center";
    justify-content: "flex-end";
    padding: "0 8px",
}
.mtoolbar{
    width: 240;
}
